---
title: extensible proof-of-stake network
titleOnlyInHead: 1
---

<style>
    .index_page {
        text-align: center;
    }
    .index_page h2{
        margin-top: 100px;
    }
    .logo{
        margin: 40px 0;
    }
    .download_link, .download_link:hover{
        background: var(--darker-grey-bg);
        display: inline-block;
        line-height: 36px;
        padding: 0 20px;
        color: var(--gold-text);
    }
    .point{
        color: var(--grey-text);
        margin-top: 100px;
    }
    .point div{
        display: inline-block;
        padding: 0 10px;
    }
</style>
<div class="index_page">
    <h2>Blacknet is extensible proof-of-stake network.</h2>

    <div class="logo"><img height="160" src="/images/logo.png" alt="logo"></div>

    <a class="download_link" href="/wallet.html">Download Blacknet Wallet</a>

    <div class="point">
        <div>No Premine</div>
        <div>No ICO</div>
        <div>No Foundation</div>
    </div>
    <br>
    <pre>

        Rule №1: Don't invent a new programming language or virtual machine for a blockchain.
    </pre>
</div>
